# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.db

# ---------------- Backend models ----------------
backend/models/yolo_model.pt

# ---------------- Logs ----------------
logs/events.db
logs/*.log

# ---------------- Frontend ----------------
frontend/node_modules/
frontend/dist/
frontend/build/

# ---------------- IDE / Editor ----------------
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# ---------------- OS ----------------
.DS_Store
Thumbs.db

# ---------------- Git ----------------
.gitignore
